In [6]:
import pandas as pd
import numpy as np

In [35]:
df = pd.DataFrame({
	'国家': ['中国', '美国', '日本'],
	'地区': ['亚洲', '北美', '亚洲'],
	'人口': [13.97, 3.28, 1.26],
	'GDP': [14.34, 21.43, 5.08]	
})
df2 = pd.DataFrame({
	'A': 1.,
	'B': pd.Timestamp('20130102'),
	'C': pd.Series([1,3,5,6], index=list(range(4)), dtype='float32'), ## 只有一个索引
	'D': np.array([3] * 4, dtype='int32'),
	'E': pd.Categorical(['test', 'train', 'test', 'train']),
	'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  3.0  3  train  foo
2  1.0 2013-01-02  5.0  3   test  foo
3  1.0 2013-01-02  6.0  3  train  foo